.cartItem {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 24px;
  border: 1px solid $color-elements;
}

.productImage {
  img {
    width: 80px;
    height: 80px;
    object-fit: contain;
  }
}

.productInfo {
  flex: 1;
}

.productName {
  @extend %body-text;

  color: $color-primary;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.quantityControls {
  display: flex;
  align-items: center;
  gap: 10px;

  .quantity {
    @extend %body-text;

    color: $color-primary;
    text-align: center;
  }
}

.price {
  color: $color-primary;
}
