@use '@/styles/abstracts/abstracts' as *;

.navigation {
  display: flex;
  flex-grow: 1;
  gap: 64px;

  @include on-tablet {
    gap: 32px;
  }

  @include on-mobile {
    display: none;
  }

  &__link {
    color: $color-secondary;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: $fw-bold;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    transition: $transition;
    padding: 25px 0;
    border-bottom: solid 3px transparent;

    &:hover {
      color: $color-primary;
    }
  }

  .active {
    color: $color-primary;
    border-bottom: solid 3px $color-primary;
  }
}

.navigation--mobile {
  display: none;

  @include on-mobile {
    display: flex;
    flex-direction: column;
    padding: 24px 0;
  }
}

// ❗️Окремий клас для мобільного лінка
.navigation__linkMobile {
  color: $color-secondary;
  text-decoration: none;
  font-size: 1rem;
  font-weight: $fw-bold;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  transition: $transition;
  padding: 16px 0;
  text-align: center;
  border-bottom: none;

  &:hover {
    color: $color-primary;
    background: rgba($color-primary, 0.05);
  }
}

.activeMobile {
  color: $color-secondary;
  background: none;
}

