.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.title {
  @include on-mobile {
    max-width: 136px;
  }
}

.controls {
  display: flex;
  gap: 16px;
}

.productsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;

  @include on-tablet {
    display: flex;
    flex-wrap: nowrap; // ❗ Не дозволяти перенос
    gap: 16px;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
  }
}
