.button {
  height: 40px;
  padding: 0 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  background-color: #313237;
  color: #fff;

  &--hover:hover {
    background-color: #89939a;
  }

  &--selected {
    background-color: #eb5757;
  }

  &--disabled {
    background-color: #e2e6e9;
    color: #b4bdc3;
    cursor: not-allowed;
  }

  &--full {
    width: 100%;
  }
}
