.button {
  @extend %buttons;
  @extend %flex-center;

  height: 40px;
  padding: 9.5px;
  cursor: pointer;
  border: 1px solid $color-primary;
  background-color: $color-primary;
  color: $color-white;
  transition: $transition;

  &:hover {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0 3px 13px rgba(23, 32, 49, 0.4);
  }

  &Selected {
    color: $color-green;
    background-color: $color-white;
    border: 1px solid $color-elements;
  }

  &Disabled {
    background-color: $color-elements;
    color: #b4bdc3;
    cursor: not-allowed;
  }

  &Full {
    width: 100%;
  }

  &Stretch {
    flex-grow: 1;
  }

  &Pagination {
    width: 32px;
    height: 32px;
    background-color: transparent;
    border: 1px solid $color-elements;
    font-weight: 600;
    color: $color-primary;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &Active {
      background-color: $color-primary;
      color: $color-white;
      border-color: $color-primary;
    }
  }
}
