.navigationFooter {
  display: flex;
  gap: 32px;
  justify-content: center;

  @include on-mobile {
    justify-content: flex-start;
    flex-direction: column;
    gap: 16px;
  }

  &__link {
    color: $color-secondary;
    text-decoration: none;

    @extend %uppercase;

    transition: $transition;

    &:hover {
      color: $color-primary;
      text-decoration: underline;
    }
  }
}
