@use './variables' as *;

@mixin onTablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin onMobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin onLargeDesktop {
  @media (min-width: #{$breakpoint-tablet + 2}) {
    @content;
  }
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($property: all, $duration: 0.3s) {
  transition: $property $duration ease;
}
