@use './mixins' as *;
@use './variables' as *;

%grid-system {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  column-gap: 16px;

  @include on-tablet {
    grid-template-columns: repeat(12, 1fr);
  }

  @include on-mobile {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
  }
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

%container {
  max-width: 1136px;
  margin: 0 auto;
  padding: $container-padding;

  @include on-tablet {
    max-width: 592px;
  }

  @include on-mobile {
    max-width: 288px;
  }
}

%h1 {
  margin: 0;
  font-family: $font-main;
  font-weight: $fw-bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;

  @include on-mobile {
    font-size: 32px;
    line-height: 41px;
  }
}

%h2 {
  margin: 0;
  font-family: $font-main;
  font-weight: $fw-bold;
  font-size: 32px;
  line-height: 41px;

  @include on-mobile {
    font-size: 22px;
    line-height: 31px;
  }
}

%h3 {
  margin: 0;
  font-family: $font-main;
  font-weight: $fw-semibold;
  font-size: 22px;
  line-height: 31px;

  @include on-mobile {
    font-size: 20px;
    line-height: 26px;
  }
}

%h4 {
  margin: 0;
  font-family: $font-main;
  font-weight: $fw-semibold;
  font-size: 20px;
  line-height: 26px;

  @include on-mobile {
    font-size: 16px;
    line-height: 20px;
  }
}

%uppercase {
  text-transform: uppercase;
  font-weight: $fw-bold;
  font-size: 12px;
  line-height: 11px;
  letter-spacing: 0.04em;
}

%buttons {
  font-weight: $fw-semibold;
  font-size: 14px;
  line-height: 21px;
}

%body-text {
  font-weight: $fw-regular;
  font-size: 14px;
  line-height: 21px;
}

%small-text {
  font-weight: $fw-semibold;
  font-size: 12px;
  line-height: 15px;
}
