.container {
  @extend %container;
}

.breadcrumbs {
  margin-bottom: 40px;
}

.error {
  text-align: center;
  font-size: 1.5rem;
  margin: 50px 0;
}

.backLink {
  margin-bottom: 16px;
}

.title {
  margin-bottom: 40px;
  color: $color-primary;
}

.mainSection {
  @extend %grid-system;

  grid-template-rows: auto auto;
  row-gap: 80px;
}

.productGalleryWrapper {
  grid-column: 1/13;
  grid-row: 1/2;
}

.details {
  grid-column: 14/20;
  grid-row: 1/2;
  max-width: 320px;

  .colorOption {
    display: inline-block;
    margin-right: 8px;
    cursor: pointer;

    input {
      display: none;
    }

    .colorSwatch {
      display: inline-block;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 2px solid $color-hover;
      outline: 1px solid $color-elements;
      outline-offset: 1px;
      transition: $transition;

      &:hover {
        outline: 1px solid $color-icons;
      }
    }

    .active {
      outline: 2px solid $color-primary;
      outline-offset: 1px;

      &:hover {
        outline: 2px solid $color-primary;
      }
    }
  }

  .colors {
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid $color-elements;

    &__title {
      @extend %small-text;

      margin-bottom: 8px;
      color: $color-secondary;
    }
  }

  .capacities {
    margin-bottom: 32px;
    padding-bottom: 24px;
    border-bottom: 1px solid $color-elements;

    &__title {
      @extend %small-text;

      margin-bottom: 8px;
      color: $color-secondary;
    }

    .capacityOption {
      display: inline-block;
      margin-right: 8px;
      cursor: pointer;

      input {
        display: none;
      }

      .capacityValue {
        display: inline-block;
        padding: 8px;
        border: 1px solid $color-icons;
        border-radius: 4px;

        @extend %body-text;

        color: $color-primary;
        cursor: pointer;
        transition: $transition;
      }

      .active {
        background-color: $color-primary;
        color: $color-white;
        border-color: $color-primary;
      }
    }
  }

  .price {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 8px;

    .currentPrice {
      color: $color-primary;
    }

    .oldPrice {
      font-family: $font-main;
      font-size: 22px;
      text-decoration: line-through;
      color: $color-secondary;
      font-weight: 500;
      line-height: 28px;
    }
  }
}

.about {
  grid-column: 1/13;
  grid-row: 2/3;
  margin-bottom: 56px;

  &__title {
    margin-bottom: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid $color-elements;
    color: $color-primary;
  }

  .desc__title {
    margin-bottom: 16px;
    color: $color-primary;
  }

  .desc__text {
    @extend %body-text;

    color: $color-secondary;
    margin-bottom: 32px;
  }

  >div:last-child .desc__text {
    margin-bottom: 0;
  }
}

.techSpecs {
  grid-column: 14/-1;
  grid-row: 2/3;

  &__title {
    margin-bottom: 32px;
    padding-bottom: 16px;
    border-bottom: 1px solid $color-elements;
    color: $color-primary;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      display: flex;
      justify-content: space-between;
      padding: 8px 0;

      @extend %body-text;

      color: $color-secondary;

      span {
        color: $color-primary;
      }
    }
  }
}
