@use 'sass:color';

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  color: $color-primary;
  transition: $transition;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  &:hover:not(:disabled) {
    border-color: $color-secondary;
  }

  &.withText {
    gap: 8px;
  }

  &.favorite {
    padding: 12px;
    border: 1px solid $color-icons;

    &.active {
      color: $color-red;
      border-color: $color-elements;

      &:hover:not(:disabled) {
        color: color.adjust($color-red, $lightness: -10%);
      }
    }
  }

  &.sliderControl {
    width: 32px;
    height: 32px;
    border: 1px solid $color-elements;
    background: transparent;

    &.fullHeight {
      height: 100%;
    }
  }

  &.backLink {
    color: $color-secondary;
    justify-content: flex-start;
    padding: 0 16px 0 0;

    &:hover {
      color: $color-primary;
    }
  }

  &.backToTop {
    &.withText {
      flex-direction: row;
      gap: 16px;
    }
  }

  &.link {
    color: $color-secondary;

    &:hover {
      color: $color-primary;
    }
  }

  &.active {
    color: $color-primary;
    font-weight: bold;

    &.link {
      border-bottom: solid 2px $color-primary;
    }
  }
}

.image {
  width: 16px;
  height: 16px;
  object-fit: contain;
  fill: transparent;
  stroke: currentColor;
  stroke-width: 1.5;
  transition: transform 0.2s ease;

  .icon:hover:not(:disabled) & {
    transform: scale(1.1);
  }

  .icon:active:not(:disabled) & {
    transform: scale(0.95);
  }

  .icon.backToTop.withText & {
    order: 2;
    border: 1px solid $color-icons;
    padding: 7px;
    width: auto;
    height: auto;
  }
}

.text {
  @extend %small-text;

  .icon.backToTop.withText & {
    order: 1;
    color: $color-secondary;
  }
}

.counter {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 14px;
  height: 14px;
  background-color: $color-red;
  color: $color-white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  font-weight: 700;

  .icon.link & {
    top: 30%;
    right: 30%;
  }
}
