.homePage__section {
  @extend %container;
}

.homePage__section--slider {
  @include on-mobile {
    padding-left: 0;
    padding-right: 0;
    overflow-x: auto;
  }
}

.homePage__title {
  font-weight: $fw-bold;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.01em;
  color: $color-primary;

  @include on-mobile {
    font-size: 32px;
    line-height: 41px;
  }
}

.homePage__titleHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
