.breadcrumbs {
  display: flex;
  align-items: center;
  gap: 8px;

  @extend %small-text;

  .link {
    color: #666;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .current {
    color: #666;
  }

  .separator {
    color: #999;
  }
}
