.productCard {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border: 1px solid $color-elements;
  transition: $transition;
  height: 506px;

  @include on-tablet {
    height: 512px;
  }

  @include on-mobile {
    height: 439px;
  }

  &:hover {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  }
}

.imageContainer {
  height: 196px;
  width: 208px;
  min-height: 196px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: $transition;
  overflow: hidden;

  @include on-tablet {
    height: 202px;
    width: 173px;
    min-height: 202px;
  }

  @include on-mobile {
    width: 148px;
    height: 129px;
    min-height: 129px;
    margin-bottom: 20px;
  }

  &:hover {
    transform: scale(1.1);
  }
}

.productImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.productInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.productName {
  color: $color-primary;

  @extend %body-text;

  margin-bottom: 30px;
  text-decoration: none;

  @include on-tablet {
    margin-bottom: 8px;
  }

  @include on-mobile {
    margin-bottom: 12px;
  }
}

.priceContainer {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
  border-bottom: 1px solid $color-elements;
  margin-bottom: 18px;
}

.price {
  color: $color-primary;
  margin-right: 8px;
}

.fullPrice {
  color: $color-secondary;
  text-decoration: line-through;
}

.specs {
  margin-bottom: 16px;

  // border-top: 1px solid $color-elements;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.specRow {
  @extend %small-text;

  display: flex;
  justify-content: space-between;
}

.specName {
  color: $color-secondary;
}

.specValue {
  color: $color-primary;
  text-align: right;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: auto;
}
