.productCard {
  display: flex;
  flex-direction: column;
  padding: 32px;
  border: 1px solid $color-elements;
  transition: $transition;

  &:hover {
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.1);
  }
}

.imageContainer {
  height: 196px;
  width: 208px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
  transition: $transition;
  overflow: hidden;

  &:hover {
    transform: scale(1.1);
  }
}

.productImage {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.productInfo {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.productName {
  color: $color-primary;

  @extend %body-text;

  margin-bottom: 8px;
  text-decoration: none;
}

.priceContainer {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.price {
  color: $color-primary;
  margin-right: 8px;
}

.fullPrice {
  color: $color-secondary;
  text-decoration: line-through;
}

.specs {
  margin-bottom: 8px;
  padding-top: 8px;
  border-top: 1px solid $color-elements;
}

.specRow {
  @extend %small-text;

  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }
}

.specName {
  color: $color-secondary;
}

.specValue {
  color: $color-primary;
  text-align: right;
}

.actions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: auto;
}
