.section {
  margin: 40px 0;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin: 0 0 24px;
  color: #313237;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
}

.card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #e2e6e9;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 0 3px 13px rgba(23, 32, 49, 0.1);

    .imageWrapper {
      transform: scale(1.1);
    }
  }
}

.imageWrapper {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  transition: transform 0.3s ease;
  overflow: hidden;
  width: 100%;
}

.image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.name {
  font-size: 20px;
  font-weight: 600;
  color: #313237;
  margin: 0 0 4px;
}

.count {
  font-size: 14px;
  color: #89939a;
  margin: 0;
}

// Медіа-запити для адаптивності
@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 28px;
  }
}
