.categorySection {
  padding-top: 38px;
}

.title {
  margin-bottom: 24px;
}

.categories {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  gap: 16px;

  @include on-mobile {
    flex-direction: column;
    gap: 32px;
  }
}

.card {
  text-decoration: none;
  display: flex;
  flex: 1;
  flex-direction: column;
  transition: $transition;
}

.imageWrapper {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 24px;
  overflow: hidden;
  transition: $transition;
}

.mobilePhones {
  background-color: #444240;
}

.tablets {
  background-color: #7E8084;
}

.accessories {
  background-color: #AD617F;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: 8em 8em;
  transition: transform 0.3s ease;

  .card:hover & {
    transform: scale(1.1);
  }

  @include on-tablet {
    object-position: 4em 3em;
  }

  @include on-mobile {
    object-position: 6em 5em;
  }
}

.name {
  margin-bottom: 4px;
  color: $color-primary;
}

.count {
  @extend %body-text;

  color: $color-secondary;
}
