.gallery {
  display: flex;
  gap: 16px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.thumbnail {
  width: 80px;
  height: 80px;
  object-fit: contain;
  border: 1px solid #e2e6e9;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    border-color: #313237;
  }

  &:focus {
    outline: 2px solid $color-primary;
    outline-offset: 2px;
  }

  &.selected {
    border-color: #313237;
  }
}

.mainImage {
  flex: 1; // Keep this if the parent is flex, but consider removing if grid context causes issues

  @extend %flex-center;

  overflow: hidden;
  height: auto; // Allow height to adjust to content
  max-height: 442px; // Example: Set a minimum height to prevent collapse

  img {
    max-height: 100%;
    object-fit: contain;
    width: auto; // Allow the image to size naturally
    height: auto; // Allow the image to size naturally
  }
}
